<h3><strong>PROPERTY BINDIG</strong></h3>
<p>{{ frase }}</p>
<br>
<hr>
<br>
<h4> <strong>EVENT BINDING</strong></h4>
<br>
<p> <b>{{ txtEvent }}</b> </p>
<button (click)="cambiarTexto()">Botón</button>
<br>
<hr>
<h4> <strong>QUE ES ANGULAR</strong></h4>
<br>
<h5>Que es Angular???</h5>
<p>Angular es una plataforma y un framework para crear aplicaciones de una sola página en el lado del cliente usando HTML y TypeScript. <br>
   Angular está escrito en TypeScript. <br>
   Implementa la funcionalidad básica y opcional como un conjunto de bibliotecas TypeScript que importas en tus aplicaciones.</p>
<br>
<h5>Para que es el dashboard???</h5>
<p>La idea de un dashboard es que podamos obtener la información que buscamos a golpe de vista. <br>
   Por ello, los datos se presentan en forma de gráficos y debemos contar con indicadores rápidos a través de claves de color, <br>
   flechas hacia arriba o abajo o cifras destacadas, por ejemplo.</p>
<br>
<hr>
<br>
<h5>Nombre del Alumno</h5>
<ul><b>Nombre Alumno:</b> Maximiliano N.</ul>
<ul><b>Nombre Alumno:</b> Yo de nuevo.</ul>
<ul><b>Nombre Alumno:</b> sí, lo hice solo.</ul>